#
# Normal rules
#
.*
!.travis.yml
*.o
*.o.*
*.a
*.s
*.so
*.so.dbg
*.i
*.lst
*.orig
*.rej

#
# Our specific rules
#
!.gitignore
Makefile
config.log
config.guess
config.sub
configure
install-sh
autom4te.cache
config.status
include/setup.h
include/setup.h.in
zlib/zconf.h

src/ircd
src/version.c.last
tools/convert_conf
tools/mkpasswd
