name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ubuntu-20:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: sudo apt-get install autoconf automake libtool check libssl-dev shtool
    - name: libtoolize
      run: libtoolize --force
    - name: aclocal
      run: aclocal
    - name: autoheader
      run: autoheader
    - name: automake
      run: automake --force-missing --add-missing || exit 0
    - name: autoreconf
      run: autoreconf -vfi
    - name: configure
      run: ./configure
    - name: make
      run: make

  ubuntu-22:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: sudo apt-get install autoconf automake libtool check libssl-dev shtool
    - name: libtoolize
      run: libtoolize --force
    - name: aclocal
      run: aclocal
    - name: autoheader
      run: autoheader
    - name: automake
      run: automake --force-missing --add-missing || exit 0
    - name: autoreconf
      run: autoreconf -vfi
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: is ircd there
      run: ls src/ircd

